# Eclipse related
bin/
.classpath
.project
.metadata/
.recommenders/
RemoteSystemsTempFiles/
Servers/
.settings/

# Gradle related
build/
.gradle/

# Java related
*.class

# Backup / Temporaly related
*.swp
*.bak

# Mac user related
.DS_Store
